.dataList {
    width: 400px;
    height: 531px;
    overflow-y: scroll;
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;

}

.parent {
    display: flex;
}

.dataView {
    width: 800px;
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;

}

.listCard {
    margin: 20px;
}

.transcriptBox {
    margin: 15px;
}

.dataLine {
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;

}

h4 {
    margin: 20px;
}

.dataEntity {
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;
}