<h4>EmployeeId: {{eId}}</h4>

<div class="parent">
    <div class="dataList">
        <div>
            <h4>Employee's meetings</h4>
        </div>

        <div *ngFor="let edata of employeeData" (click)="viewData(edata)">
            <mat-card class="listCard">{{edata.timestamp | date:'medium'  }}</mat-card>
        </div>
    </div>

    <div class="dataView">
        <div>
            <h4>Employee's sentiment</h4>
        </div>

        <canvas id="myChart" width="700" height="400"></canvas>

        <div class="transcriptBox"><b>Transcript: </b>{{transcript}}</div>
    </div>

</div>

<div class="dataLine">
    <canvas id="myLineChart" width="700" height="400"></canvas>
</div>


<div class="dataEntity">
    <div>
        <h4>Employee's entities</h4>
    </div>
    <div>
        <mat-chip-list aria-label="entities">
            <mat-chip *ngFor="let e of entities" color="primary" selected>{{e}}</mat-chip>
        </mat-chip-list>
    </div>
</div>