.example-card {
    max-width: 250px;
    margin: 15px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 280px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 210px;
}
