<div class="container">
    <mat-card class="example-card" *ngFor="let e of employees">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{e.name}}</mat-card-title>
            <mat-card-subtitle>{{e.role}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="e.imgUrl" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{e.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button style="color : mediumspringgreen" (click)="analyseEmployee(e.id)">Analyse</button>
        </mat-card-actions>
    </mat-card>
    

</div>

