<div class="homebox">
    <h4>RAMCO Hackathon</h4>
    <div class="logo">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhk6ge9RCmhVvaROr0Ks9Rz8xSE7eVP_o1v2ZXYhXb8WUcPx8x" />
    </div>
</div>