<nav>
  <a routerLink="/" routerLinkActive="active"><b>Falcons </b></a>
  <a routerLink="/one" routerLinkActive="active">Individual</a>
  <a routerLink="/meeting" routerLinkActive="active">Group</a>
</nav>
<router-outlet></router-outlet>