.container {
    margin: 20px;
    display: flex;
}

.imgList {
    width: 400px;
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;
}

.imgView {
    width: 800px;
    margin: 20px;
    border: 2px solid mediumspringgreen;
    border-radius: 6px;
    padding: 10px;
}