<p>View and analyse the sentimnet of people in your company here!</p>
<button mat-button style="color : mediumspringgreen" (click)="getAnalysedImages()">Refresh</button>

<div class="container">
    <div class="imgList">
        <div *ngFor="let idata of imageData">
            <mat-card (click)="getSignUrl(idata['imageId'])">{{idata['imageId']}}</mat-card>

            <ul>
                <li *ngFor="let emotion of idata['eaReport']['FaceDetails'][0]['Emotions']"><b>{{emotion['Type']}} :</b>
                    {{emotion['Confidence']}}</li>
            </ul>
        </div>
    </div>


    <div class="imgView">
        <img [src]="preSignUrl" alt="No image chosen" />
    </div>


</div>

<div class="dataLine">
    <canvas id="myChart" width="700" height="400"></canvas>
</div>
